<a href="https://colab.research.google.com/github/idieyidot/Python_Learning/blob/master/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:

import pandas as pd
import numpy as np

# read in all our data
dataset = pd.read_excel("coronavirus_sequences_table.xlsx")
# set seed for reproducibility
np.random.seed(0) 
dataset.sample(5)

      Details  ...                                      GenBank_Title
7057      NaN  ...  Compositions and Methods for Determining the P...
3456      NaN  ...  Yak coronavirus isolate XZ8 S protein (S) gene...
7579      NaN  ...  Bat SARS-like coronavirus isolate bat-SL-CoVZ2...
4284      NaN  ...  Bovine coronavirus isolate C5_0801 spike glypr...
6963      NaN  ...    Equine Coronavirus NC99 3'UTR, partial sequence

[5 rows x 18 columns]

In [77]:

#check how many rows and columns
dataset.shape # (rows, column) respectively.

(7812, 18)

In [78]:
#to check the dimension number for our dataset
dataset.ndim

2

In [79]:
#Check datatypes of the column of our dataset
dataset.dtypes

Details             float64
Accession            object
Release_Date         object
Species              object
Genus                object
Family               object
Length                int64
Genotype             object
Genome_Region       float64
Segment             float64
Authors              object
Publications         object
Geo_Location         object
Host                 object
Isolation_Source     object
Collection_Date      object
BioSample            object
GenBank_Title        object
dtype: object

# 1. Dealing With Missing Values Generally (While doing Feature Selection)

In [61]:
# get the number of missing data points per column
missing_values_count = dataset.isnull().sum()

# look at the # of missing points of first 10 columns
missing_values_count[0:10]

Details          7812
Accession           0
Release_Date        0
Species             0
Genus               0
Family              0
Length              0
Genotype         7804
Genome_Region    7812
Segment          7812
dtype: int64

In [74]:
# how many total missing values do we have?
total_cells = np.product(dataset.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

38.24671445639188

This is for removing all columns that has NAN (missing values)

In [97]:
# pandas drop columns using list of column names (selective drop)
new_dataset = dataset.drop(['Details', 'Genotype', 'Genome_Region','Segment','BioSample', 'Isolation_Source', 'Collection_Date','Publications','Geo_Location', 'Authors'], axis=1)

In [98]:
#saving the dropped column to a new csv file
new_dataset.to_csv("dropped_columns.csv", index=False, encoding ='utf8')

In [99]:
#check back if it really dropped the column
missing_values_count = new_dataset.isnull().sum()

# look at the # of missing points
missing_values_count[0:18] #checked all column 

#from this, we can see that there's only 9 column left

Accession           0
Release_Date        0
Species             0
Genus               0
Family              0
Length              0
Host             2296
GenBank_Title       0
dtype: int64

In [100]:
# To confirm, let's compare the column number between previous dataset and new dataset
print("Columns in original dataset: %d \n" % dataset.shape[1])
print("Columns in new dataset: %d" % new_dataset.shape[1])

Columns in original dataset: 18

Columns in new dataset: 8

Feature selection was done by dropping the column that contains missing values as it was not needed while solving the missing values problems. However, there's 1 more column that has missing values, I cannot delete this as it is a crucial information for the host prediction later.

# 2. Dealing with missing values in Host Column